<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UrlTemplate" value="http://{0}:10011/message"/>
		<add key="CmdWorkingDirectory" value="D:\\"/>
		<add key="Command" value="powershell.exe"/>
		<add key="GiteeServerInfoUrl" value="https://gitee.com/jingeonline/family-project/raw/master/ServerInfo.json"/>
	</appSettings>
</configuration>